.myForm {
    margin-top: 200px;
    margin: 0px auto 0;
    padding: 20px;
    height:500px;
    border: 1px solid lightgrey;
  }
  .interestInput{
    margin-top: 100px;
  }
 .button {
    margin: 0px auto 0;
    max-width: 200px;
    margin-top: 100px;
 }
 .topicBody {
    display: inline-flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    
 }
 .a {
    
    flex: 2;
 }
 .topic{
    margin-left: 100px;
    padding: 20px 100px;
    border-radius: 100px;
    background:rgb(78, 224, 224);
    font-size: 20px;
    font-style: inherit;
    border: none;
 
 } 
 